*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.repos-container{
    width: 800px;
    background-color: #f6f6f6;
    margin: auto;
}
.repos-container .get-repos{
    padding: 20px;
    display: flex;
    background-color: #eee;
}
.repos-container .get-repos input{
    width: 100%;
    padding: 15px   20px;
    border: none;
    font-size: 20px;
    height: 54px;
}
.repos-container .get-repos input:focus{
    outline: 2px solid #E91E63;
}
.repos-container .get-repos .get-button{
    width: 140px;
    margin-left: 10px;
    height: 54px;
    background-color: #E91E63;
    color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 54px;
}
.repos-container .show-data{
    padding: 20px;
    background-color:#f6f6f6;
}
.repos-container .show-data .repo-box{
    background-color: #fff;
    padding: 15px;
}
.repos-container .show-data .repo-box:not(:last-child){
    margin-bottom: 5px;
}

.repos-container  .show-data .repo-box a,
.repos-container  .show-data .repo-box span{
    float: right;
    margin-left: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    width: 90px;
    padding: 4px;
    text-align: center;

}
.repos-container  .show-data .repo-box a{
    text-decoration: none;
    background-color: #E91E63;
}
.repos-container  .show-data .repo-box span{
    background-color: #009688;

}